<h2>Top 5 Most Frequent Geo Locations</h2>
<a class="btn btn-success" href='/api/SampleData/GeoData'>View Raw JSON</a>


<p class="text-muted">Fake json here to display front-end </p>
<table  class="table">
    <thead >
      <tr >
        <th *ngFor="let item of keys" scope="col">{{item | uppercase}} </th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of values">
        <th >{{item.region}}</th>
        <td>{{item.name}}</td>
        <td>{{item.country}}</td>
        <td>{{item.key}}</td>
        <td><button type="button" class="btn btn-danger" (click)="removeRow(item)">REMOVE</button></td>
      </tr>
     
    </tbody>
  </table>
